In [33]:
 %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

from sklearn import tree

In [34]:
data = pd.read_csv('./Resources/WA_Fn-UseC_-Marketing-Customer-Value-Analysis.csv')
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [35]:
new_data = data.drop(columns=['Effective To Date', 'Customer'])
new_data

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,Washington,2763.519279,No,Basic,Bachelor,Employed,F,56274,Suburban,Married,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,Arizona,6979.535903,No,Extended,Bachelor,Unemployed,F,0,Suburban,Single,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,Nevada,12887.431650,No,Premium,Bachelor,Employed,F,48767,Suburban,Married,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,California,7645.861827,No,Basic,Bachelor,Unemployed,M,0,Suburban,Married,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,Washington,2813.692575,No,Basic,Bachelor,Employed,M,43836,Rural,Single,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,23405.987980,No,Basic,Bachelor,Employed,M,71941,Urban,Married,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,California,3096.511217,Yes,Extended,College,Employed,F,21604,Suburban,Divorced,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,California,8163.890428,No,Extended,Bachelor,Unemployed,M,0,Suburban,Single,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,California,7524.442436,No,Extended,College,Employed,M,21941,Suburban,Married,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,California,2611.836866,No,Extended,College,Unemployed,M,0,Suburban,Single,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [36]:
# Add a column of 'Quartile LTV'. This column will determine the quartile where each 
# customer falls in thems of Customer Life Time Value.

# First, find the quartile threshold values

ltv = new_data["Customer Lifetime Value"]  

print("Q3 quantile of arr : ", np.quantile(ltv, .25)) 
print("Q2 quantile of arr : ", np.quantile(ltv, .50))  
print("Q1 quantile of arr : ", np.quantile(ltv, .75))

Q3 quantile of arr :  3994.25179425
Q2 quantile of arr :  5780.182197
Q1 quantile of arr :  8962.16704125

In [52]:
# Create new column with conditions based on quartlie thresholds
new_data.loc[(new_data['Customer Lifetime Value'] >0) & (new_data['Customer Lifetime Value']<= 3994.26), 'Quartile LTV'] = 4 
new_data.loc[(new_data['Customer Lifetime Value'] > 3994.26)& (new_data['Customer Lifetime Value'] <= 5780.18), 'Quartile LTV'] = 3
new_data.loc[(new_data['Customer Lifetime Value'] > 5780.19) & (new_data['Customer Lifetime Value']<= 8962.16), 'Quartile LTV'] = 2
new_data.loc[(new_data['Customer Lifetime Value'] > 8962.17), 'Quartile LTV'] = "Q1"
new_data.head(50)

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Quartile LTV
0,Washington,2763.519279,No,Basic,Bachelor,Employed,F,56274,Suburban,Married,...,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,Q4
1,Arizona,6979.535903,No,Extended,Bachelor,Unemployed,F,0,Suburban,Single,...,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,Q2
2,Nevada,12887.431650,No,Premium,Bachelor,Employed,F,48767,Suburban,Married,...,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,Q1
3,California,7645.861827,No,Basic,Bachelor,Unemployed,M,0,Suburban,Married,...,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,Q2
4,Washington,2813.692575,No,Basic,Bachelor,Employed,M,43836,Rural,Single,...,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,Q4
5,Oregon,8256.297800,Yes,Basic,Bachelor,Employed,F,62902,Rural,Married,...,0,2,Personal Auto,Personal L3,Offer2,Web,159.383042,Two-Door Car,Medsize,Q2
6,Oregon,5380.898636,Yes,Basic,College,Employed,F,55350,Suburban,Married,...,0,9,Corporate Auto,Corporate L3,Offer1,Agent,321.600000,Four-Door Car,Medsize,Q3
7,Arizona,7216.100311,No,Premium,Master,Unemployed,M,0,Urban,Single,...,0,4,Corporate Auto,Corporate L3,Offer1,Agent,363.029680,Four-Door Car,Medsize,Q2
8,Oregon,24127.504020,Yes,Basic,Bachelor,Medical Leave,M,14072,Suburban,Divorced,...,0,2,Corporate Auto,Corporate L3,Offer1,Agent,511.200000,Four-Door Car,Medsize,Q1
9,Oregon,7388.178085,No,Extended,College,Employed,F,28812,Urban,Married,...,0,8,Special Auto,Special L2,Offer2,Branch,425.527834,Four-Door Car,Medsize,Q2
10,California,4738.992022,No,Basic,College,Unemployed,M,0,Suburban,Single,...,0,3,Personal Auto,Personal L3,Offer1,Agent,482.400000,Four-Door Car,Small,Q3
11,California,8197.197078,No,Basic,College,Unemployed,F,0,Suburban,Married,...,0,3,Personal Auto,Personal L3,Offer2,Agent,528.000000,SUV,Medsize,Q2
12,California,8798.797003,No,Premium,Master,Employed,M,77026,Urban,Married,...,2,3,Corporate Auto,Corporate L1,Offer2,Agent,472.029737,Four-Door Car,Medsize,Q2
13,Arizona,8819.018934,Yes,Basic,High School or Below,Employed,M,99845,Suburban,Married,...,1,8,Corporate Auto,Corporate L3,Offer2,Branch,528.000000,SUV,Medsize,Q2
14,California,5384.431665,No,Basic,College,Employed,M,83689,Urban,Single,...,2,8,Corporate Auto,Corporate L3,Offer4,Call Center,307.139132,Four-Door Car,Medsize,Q3
15,Oregon,7463.139377,No,Basic,Bachelor,Employed,F,24599,Rural,Married,...,1,2,Corporate Auto,Corporate L2,Offer2,Branch,42.920271,Four-Door Car,Medsize,Q2
16,Nevada,2566.867823,No,Basic,High School or Below,Medical Leave,M,25049,Suburban,Married,...,0,1,Personal Auto,Personal L3,Offer2,Call Center,454.245098,Two-Door Car,Medsize,Q4
17,California,3945.241604,No,Basic,College,Medical Leave,M,28855,Suburban,Married,...,0,1,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize,Q4
18,Oregon,5710.333115,No,Basic,College,Employed,M,51148,Urban,Married,...,0,7,Personal Auto,Personal L2,Offer2,Branch,308.981664,Four-Door Car,Medsize,Q3
19,California,8162.617053,No,Premium,High School or Below,Employed,F,66140,Suburban,Married,...,0,3,Corporate Auto,Corporate L2,Offer1,Call Center,484.800000,Four-Door Car,Small,Q2
20,Oregon,2872.051273,No,Basic,High School or Below,Employed,M,57749,Suburban,Single,...,0,1,Personal Auto,Personal L2,Offer1,Branch,355.200000,Two-Door Car,Medsize,Q4
21,Washington,3041.791561,No,Extended,Bachelor,Disabled,F,13789,Suburban,Divorced,...,0,1,Personal Auto,Personal L3,Offer4,Call Center,379.200000,Four-Door Car,Medsize,Q4
22,Arizona,24127.504020,Yes,Basic,Bachelor,Medical Leave,M,14072,Suburban,Divorced,...,0,2,Personal Auto,Personal L3,Offer1,Agent,511.200000,Four-Door Car,Medsize,Q1
23,Nevada,2450.190996,No,Basic,Bachelor,Unemployed,F,0,Suburban,Single,...,3,1,Corporate Auto,Corporate L3,Offer1,Branch,554.376763,Four-Door Car,Medsize,Q4
24,California,2392.107890,No,Basic,Bachelor,Disabled,F,17870,Suburban,Married,...,0,1,Corporate Auto,Corporate L2,Offer2,Branch,439.200000,Four-Door Car,Medsize,Q4
25,Oregon,5802.065978,No,Basic,College,Employed,M,97541,Suburban,Married,...,0,3,Personal Auto,Personal L3,Offer2,Call Center,389.185006,Four-Door Car,Large,Q2
26,California,3946.372085,No,Premium,Bachelor,Unemployed,F,0,Suburban,Single,...,0,1,Personal Auto,Personal L3,Offer1,Agent,799.200000,Four-Door Car,Small,Q4
27,Washington,5346.916576,No,Extended,Master,Disabled,F,10511,Urban,Married,...,0,1,Corporate Auto,Corporate L1,Offer1,Branch,516.237951,SUV,Medsize,Q3
28,Arizona,12902.560140,No,Premium,College,Employed,F,86584,Suburban,Single,...,2,2,Personal Auto,Personal L3,Offer1,Call Center,532.800000,Four-Door Car,Large,Q1
29,Oregon,3235.360468,No,Extended,Master,Employed,F,75690,Suburban,Married,...,1,1,Personal Auto,Personal L3,Offer2,Branch,384.000000,Four-Door Car,Small,Q4
30,Arizona,2454.583540,No,Basic,College,Employed,M,23158,Suburban,Married,...,1,1,Personal Auto,Personal L2,Offer4,Call Center,322.294043,Four-Door Car,Small,Q4
31,Nevada,18975.456110,No,Extended,High School or Below,Employed,M,65999,Urban,Married,...,0,6,Corporate Auto,Corporate L2,Offer2,Agent,615.927769,Luxury SUV,Medsize,Q1
32,California,4715.321344,No,Basic,Bachelor,Unemployed,M,0,Urban,Married,...,0,3,Personal Auto,Personal L3,Offer1,Call Center,308.150890,Four-Door Car,Medsize,Q3
33,Washington,5018.885233,No,Basic,Bachelor,Employed,M,54500,Suburban,Married,...,0,6,Corporate Auto,Corporate L2,Offer1,Agent,302.400000,Two-Door Car,Small,Q3
34,Oregon,4932.916345,No,Basic,Bachelor,Employed,F,37260,Rural,Married,...,0,8,Corporate Auto,Corporate L1,Offer3,Web,15.437681,Four-Door Car,Medsize,Q3
35,Arizona,5744.229745,No,Basic,High School or Below,Employed,F,68987,Urban,Married,...,0,6,Personal Auto,Personal L1,Offer1,Branch,204.475147,Four-Door Car,Medsize,Q3
36,California,13891.735670,No,Premium,Bachelor,Employed,M,42305,Suburban,Married,...,0,2,Personal Auto,Personal L3,Offer1,Agent,561.600000,Four-Door Car,Small,Q1
37,Oregon,7380.976717,No,Extended,Master,Employed,F,65706,Suburban,Married,...,0,8,Personal Auto,Personal L3,Offer2,Web,436.800000,Four-Door Car,Small,Q2
38,Oregon,3090.034104,No,Extended,Bachelor,Unemployed,M,0,Suburban,Single,...,0,1,Personal Auto,Personal L2,Offer3,Agent,648.000000,Two-Door Car,Small,Q4
39,Arizona,2521.633095,No,Basic,High School or Below,Employed,M,53243,Rural,Divorced,...,2,1,Personal Auto,Personal L3,Offer1,Call Center,157.397849,Four-Door Car,Medsize,Q4
40,Nevada,2652.061785,No,Basic,High School or Below,Unemployed,F,0,Suburban,Married,...,1,1,Corporate Auto,Corporate L3,Offer3,Call Center,484.318536,Two-Door Car,Medsize,Q4
41,Oregon,2771.045031,Yes,Basic,College,Employed,F,50071,Rural,Single,...,0,1,Corporate Auto,Corporate L3,Offer2,Agent,18.918935,Two-Door Car,Medsize,Q4
42,California,3939.006370,Yes,Extended,Bachelor,Employed,F,60021,Suburban,Married,...,0,1,Personal Auto,Personal L2,Offer2,Agent,882.871945,Four-Door Car,Small,Q4
43,Arizona,12231.879680,No,Basic,High School or Below,Employed,M,43244,Suburban,Married,...,0,2,Personal Auto,Personal L2,Offer4,Agent,494.400000,Sports Car,Medsize,Q1
44,Washington,2443.665166,No,Basic,College,Employed,M,92834,Suburban,Married,...,0,1,Special Auto,Special L2,Offer2,Call Center,292.800000,Four-Door Car,Large,Q4
45,Oregon,12819.102890,No,Premium,Doctor,Disabled,F,10105,Rural,Married,...,3,3,Personal Auto,Personal L2,Offer1,Branch,0.517753,SUV,Medsize,Q1
46,Arizona,4468.510542,No,Basic,Bachelor,Unemployed,M,0,Suburban,Single,...,3,5,Personal Auto,Personal L3,Offer3,Call Center,579.165954,Four-Door Car,Medsize,Q3
47,Oregon,5514.344018,No,Basic,High School or Below,Employed,F,23218,Suburban,Single,...,0,4,Personal Auto,Personal L2,Offer4,Agent,447.793440,Two-Door Car,Medsize,Q3
48,California,3343.875326,No,Extended,Bachelor,Unemployed,F,0,Suburban,Married,...,0,1,Corporate Auto,Corporate L2,Offer2,Call Center,529.624084,Four-Door Car,Medsize,Q4
49,Arizona,2294.478927,No,Basic,High School or Below,Unemployed,F,0,Suburban,Married,...,0,1,Personal Auto,Personal L2,Offer4,Branch,313.023175,Four-Door Car,Medsize,Q4

In [53]:
new_data_quartileLTV = new_data.drop(columns=['Customer Lifetime Value'])
new_data_quartileLTV.head()

,State,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Quartile LTV
0,Washington,No,Basic,Bachelor,Employed,F,56274,Suburban,Married,69,...,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,Q4
1,Arizona,No,Extended,Bachelor,Unemployed,F,0,Suburban,Single,94,...,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,Q2
2,Nevada,No,Premium,Bachelor,Employed,F,48767,Suburban,Married,108,...,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,Q1
3,California,No,Basic,Bachelor,Unemployed,M,0,Suburban,Married,106,...,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,Q2
4,Washington,No,Basic,Bachelor,Employed,M,43836,Rural,Single,73,...,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,Q4

In [54]:
# Dummy coding for categorical variables (get_dummies)
# Machine Learning algorithms work with numerical data. We have to convert our strings into meaningful numbers.
# We often use Integer, One-hot, or Binary Encoding. Sklearn provides a preprocessing libarary for all of these 
# standard preprocessing techniques. Pandas also provides a get_dummies method that is useful to generate binary 
# encoded data from a Data Frame.

data_binary_encoded = pd.get_dummies(new_data_quartileLTV, columns=['State','Response', 'Coverage', 'Education', 'EmploymentStatus', 'Gender', 'Location Code',
       'Marital Status', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Vehicle Class', 'Vehicle Size'])
data_binary_encoded.head()

,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Quartile LTV,State_Arizona,State_California,...,Sales Channel_Web,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small
0,56274,69,32,5,0,1,384.811147,Q4,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0,94,13,42,0,8,1131.464935,Q2,1,0,...,0,1,0,0,0,0,0,0,1,0
2,48767,108,18,38,0,2,566.472247,Q1,0,0,...,0,0,0,0,0,0,1,0,1,0
3,0,106,18,65,0,7,529.881344,Q2,0,1,...,0,0,0,0,1,0,0,0,1,0
4,43836,73,12,44,0,1,138.130879,Q4,0,0,...,0,1,0,0,0,0,0,0,1,0

In [61]:
print(len(data_binary_encoded))

9134

In [56]:
X = data_binary_encoded.drop("Quartile LTV", axis=1)
y = data_binary_encoded["Quartile LTV"].values.reshape(-1, 1)
print(X.shape, y.shape)

(9134, 64) (9134, 1)

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [43]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

In [44]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [57]:
from tensorflow.keras.utils import to_categorical

In [62]:
data_binary_encoded.dropna()

,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Quartile LTV,State_Arizona,State_California,...,Sales Channel_Web,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small
0,56274,69,32,5,0,1,384.811147,Q4,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0,94,13,42,0,8,1131.464935,Q2,1,0,...,0,1,0,0,0,0,0,0,1,0
2,48767,108,18,38,0,2,566.472247,Q1,0,0,...,0,0,0,0,0,0,1,0,1,0
3,0,106,18,65,0,7,529.881344,Q2,0,1,...,0,0,0,0,1,0,0,0,1,0
4,43836,73,12,44,0,1,138.130879,Q4,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,71941,73,18,89,0,2,198.234764,Q1,0,1,...,1,1,0,0,0,0,0,0,1,0
9130,21604,79,14,28,0,1,379.200000,Q4,0,1,...,0,1,0,0,0,0,0,0,1,0
9131,0,85,9,37,3,2,790.784983,Q2,0,1,...,0,1,0,0,0,0,0,0,1,0
9132,21941,96,34,3,0,3,691.200000,Q2,0,1,...,0,1,0,0,0,0,0,1,0,0
9133,0,77,3,90,0,1,369.600000,Q4,0,1,...,0,0,0,0,0,0,1,0,1,0

In [63]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

C:\Users\franc\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\franc\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: y contains previously unseen labels: [nan, nan, nan, nan]

In [45]:
# Build model
from tensorflow.keras.models import Sequential

model = Sequential()

In [46]:
from tensorflow.keras.layers import Dense
#number_inputs = 100
#number_hidden_nodes = 64
#model.add(Dense(units=number_hidden_nodes,
#                activation='relu', input_dim=number_inputs))

In [47]:
#number_classes = 4
#model.add(Dense(units=number_classes, activation='softmax'))

In [48]:
model.add(Dense(units=100, activation='relu', input_dim=20))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [49]:
 model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 100)               2100
_________________________________________________________________
dense_9 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_10 (Dense)             (None, 2)                 202
=================================================================
Total params: 12,402
Trainable params: 12,402
Non-trainable params: 0
_________________________________________________________________

In [50]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [51]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=0
)

ValueError: in user code:

    C:\Users\franc\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\training.py:571 train_function  *
        outputs = self.distribute_strategy.run(
    C:\Users\franc\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:951 run  **
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    C:\Users\franc\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2290 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    C:\Users\franc\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2649 _call_for_each_replica
        return fn(*args, **kwargs)
    C:\Users\franc\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\training.py:531 train_step  **
        y_pred = self(x, training=True)
    C:\Users\franc\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\base_layer.py:886 __call__
        self.name)
    C:\Users\franc\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\keras\engine\input_spec.py:216 assert_input_compatibility
        ' but received input with shape ' + str(shape))

    ValueError: Input 0 of layer sequential_1 is incompatible with the layer: expected axis -1 of input shape to have value 20 but received input with shape [None, 64]